<mat-card>
  <h1>Registrar Cliente</h1>
  <br>
<form [formGroup]="formCliente">
<mat-form-field appearance="fill">
  <mat-label>Id</mat-label>
  <input matInput formControlName="id">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Nombre</mat-label>
  <input matInput formControlName="nombre">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Telefono</mat-label>
  <input matInput formControlName="telefono">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Direccion</mat-label>
  <input matInput formControlName="direccion">
</mat-form-field>

<br><br>

<div class="example-button-row">
  <button (click)="GuardarCliente()"  mat-raised-button color="primary">Registrar</button>
</div>
<div class="example-button-row">
  <button (click)="NoCont()"  mat-raised-button color="secundary">Cancelar</button>
</div>

</form>

</mat-card>
