table {
  width: 90%;
  margin-left: 5%;
}

mat-card{
  margin-left: 3%;
  margin-top: 3%;
  width: 90%;
}


button{
  margin-right: 2%;
}

.mat-elevation-z8{
  text-align: center;
  align-items: center;
  align-content: center;
}

mat-paginator{
  text-align: center;
  align-items: center;
  align-content: center;
}
